#title {
    text-align: center;
    position: relative;
}

#color-palette {
    text-align: center;
}

#button-random-color { 
    margin-left: 40%;
    width: 20%;
    border: 3px solid purple;
    background-color:azure;
    padding: 10px
}