#title {
    text-align: center;
}

#color-palette {
    text-align: center;
}

#button-random-color { 
    margin-left: 40%;
    width: 20%;
    border: 3px solid purple;
    background-color:azure;
    padding: 10px
}

#pixel-board {
    width: 210px;
    height: 210px;
    text-align: center;
    margin-left: 847px;
    margin-top: 1%;
}