#title {
    text-align: center;
}

#color-palette {
    text-align: center;
}

#button-random-color { 
    margin-left: 40%;
    width: 20%;
    border: 3px solid rgb(92, 2, 92);
    background-color:azure;
    padding: 10px
}

#pixel-board {
    width: 210px;
    height: 210px;
    text-align: center;
    margin-left: 847px;
    margin-top: 10%;
}

#clear-board {
    width: 150px;
    height: 70px;
    display: block;
    position: absolute;
    margin-left: 46%;
    margin-top: 5px;
    border: solid rgb(92, 2, 92) 2px;
    background-color:azure;
}